 <footer>
     <div class="footer-container">
        <div class="site-map">
            <div class="site-map-column">
                <ul class="footer-nav">
                    <li><a href="{{ url_for('about_page') }}">About</a></li>
                    <li><a href="mailto:tsiligeridiso@gmail.com">Feedback</a></li>
                </ul>
            </div>
            <div class="social-links-column">
                <ul class="social-links">
                    <li><a href="#"><ion-icon id="facebook" name="logo-facebook"></ion-icon></a></li>
                    <li><a href="#"><ion-icon id="twitter" name="logo-twitter"></ion-icon></a></li>
                    <li><a href="#"><ion-icon id="snapchat" name="logo-snapchat"></ion-icon></a></li>
                    <li><a href="#"><ion-icon id="instagram" name="logo-instagram"></ion-icon></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>
                Copyright &copy; 2020 by <a href="mailto:tsiligeridiso@gmail.com">OdyTsi&commat;soft</a>. All rights reserved.
            </p>
        </div>
     </div>
</footer>