 <footer>
     <div class="footer-container">
        <div class="site-map">
            <div class="site-map-column">
                <ul class="footer-nav">
                    <li><a href="{{ url_for('about_page') }}">About</a></li>
                    <li><a href="mailto:tsiligeridiso@gmail.com">Feedback</a></li>
                </ul>
            </div>
            <div class="datalabs-column">
                <a href="https://datalab.csd.auth.gr/"><img src="{{ url_for('static', filename='img/cropped-DataLab_Logo_Transparent.png') }}" alt="DWS logo"></a>
            </div>
        </div>
        <div class="copyright">
            <p>
                Copyright &copy; 2020 by <a href="mailto:datalab@csd.auth.gr">&#64;Datalab</a>. All rights reserved.
            </p>
        </div>
     </div>
</footer>