<!DOCTYPE html>
<html lang="en">
<head>
    {% set title = 'Europe' %}
    {% set title_class =  'small-header' %}
    {% include "favicon.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lobibox.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/queries.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
<!--    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.1.11.min.js') }}"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/lobibox.min.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/spinner.js') }}"></script>

    <title class="small-title">{{ title }}</title>

</head>
<body>
<header>
    <!--  nav  -->
    {% include "navBar.html" %}
    <!-- End:nav   -->
</header>
<div class="map-container">
    <div id="chartdiv"></div>
</div>

{% include "footer.html" %}

<div class="test"></div>
<script>
    const countries = {{ countries | tojson }}
    const indicators = {{ indicators | tojson}}
    const lineUrl = "{{ url_for('plots.plot_line_chart' ) }}";
    const navUrl = "{{ url_for('nav.get_countries_indicators' ) }}";
    const getMapUrl = "{{ url_for('map.get_country_codes' ) }}";
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/map_script.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/navBar_scripts.js') }}"></script>
</body>
</html>