h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

body {
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
}
/***************** NAVIGATION BAR ********************/

header{
    display:inline-block;
    grid-row: 1;
    grid-column: 1/-1;
    width:100%;
}

header .main-header {
    height: 15%;
    display:inline-block;
    padding-right: 2%;
}

.main-header h1.small-header {
    padding-left:18%;
    color: #555;
    /*position:relative;*/
    float:left;
    /*width:90%;*/
}

.main-header h1.large-header {
    padding-left: 9%;
    color: #555;
    /*position:relative;*/
    float:left;
    /*font-size: 70%;*/
}

/******* NAV FUNCTIONALITY ***************/
nav {
  display: inline-block;
    float: right;
  /* text-align: center; */
}

.plots ul{
    height:200px;
    /*width: 18px;*/
}

.plots ul{
    overflow: hidden;
    overflow-y: scroll;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav {
    vertical-align: top;
    display: inline-block;
    box-shadow: 1px -1px 1px 1px #555, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
    margin-top: -10%;
  /* border-radius:6px; */
}

.main-nav a {
  display: block;
   /*background: rgba(158, 158, 158, 0.37);*/
  color: #555;
  text-decoration: none;
  padding: 0.8em 1.8em;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 2px;
  text-shadow: 0 -1px 0 #000;
  position: relative;
}

.main-nav > li > ul > li > a {
  color: #555;
  background: rgb(30, 147, 152);
}

.main-nav li {
  position: relative;
}
.main-nav > li {
  float: left;
  margin-right: 1px;
}
.main-nav > li > a {
  margin-bottom: 1px;
  /* box-shadow:inset 0 2.7em .50em -.5em #555;  */
}
/* .namain-nav > li:hover , .nav > li:hover >a{  border-bottom-color:orange;} */
/* .main-nav li:hover > a { color:orange; } */
.main-nav > li:first-child {
  border-radius: 4px 0 0 4px;
}
.main-nav > li:first-child > a {
  border-radius: 4px 0 0 0;
}
.main-nav > li:last-child {
  border-radius: 0 0 4px 0;
  margin-right: 0;
}
.main-nav > li:last-child > a {
  border-radius: 0 4px 0 0;
}
.main-nav li li a {
  margin-top: 1px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #555;
  /* text-decoration: none; */
  text-transform: uppercase;
   /*font-size: 60%;*/
  /*border-bottom: 2px solid transparent;*/
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #00d9ff;
  color: #00d9ff;
}

.plots {
    font-size: 85%;
}

.main-nav li ul li a:link,
.main-nav li ul li a:visited {
    color: #555;
    font-size: 70%;
}

.main-nav li ul li a:hover,
.main-nav li ul li a:active {
    color: #fff;
    /*font-size: 70%;*/
    border-bottom: 2px solid #fff;
}



.main-nav li a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  top: 50%;
  right: 5px;
}

/* submenu positioning*/
.main-nav ul {
  position: absolute;
  white-space: nowrap;
  border-bottom: 5px solid #555;
  z-index: 1;
  left: -99999em;
}
.main-nav > li:hover > ul {
  left: auto;
  padding-top: 5px;
  min-width: 100%;
}
.main-nav > li li ul {
  border-left: 1px solid #fff;
  background: rgb(30, 147, 152);
}

.main-nav > li li:hover > ul {
  /* margin-left: 1px */
  left: 100%;
  top: -1px;
}
/* arrow hover styling */
.main-nav > li > a:first-child:nth-last-child(2):before {
  border-top-color: #aaa;
}
.main-nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-bottom-color: #00d9ff;
  margin-top: -5px;
}
.main-nav li li > a:first-child:nth-last-child(2):before {
  border-left-color: #aaa;
  margin-top: -5px;
}
.main-nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-right-color: #00d9ff;
  right: 10px;
}

.logo.left{
    width: 20%;
    height: 100%;
    grid-column:1;
    grid-row:1;
    float:left;
}


.datalabs-column{
    grid-column: 2;
}

.datalabs-column > a > img{
    width:15%;
    float:right;
    height:100%;
    margin-right: 3%;
}

.mobile-nav-icon {
    grid-row:1;
    float:right;
    /*margin: 0 15% 0 0;*/
    cursor: pointer;
    display: none;
}


/*****************MAP EUROPE********************/
body .map-container {
    /*width: 100%;*/
    height: 66%;
}

/*.map-container,*/
body,
html
{
    /*display:inline-block;*/
    height: 100%;
}

.map-container #chartdiv {
  width: 100%;
  height: 80%;
  padding: 0 0 0 0;
}

.map-container{
    margin-right: 10%
}

/********* GOOGLE TABLE ******************/
.cssSelectedTableRow {
  font-size: 13px;
  font-weight:bold;
}
.cssHoverTableRow {
  background: #ccc;
}

th {
  background-color: rgba(158, 158, 158, 0.37);
}

td:first-of-type {
  background-color: rgba(158, 158, 158, 0.37);
}
td:first-of-type {
  background-color: rgba(158, 158, 158, 0.37);
}

/*************PESTEL PIE CHART***********************/

.pestel-container {
    width: 90%;
    height:70%;
    position: relative;
    float: left;
}

.left-col{
    float:left;
}

.pestel-pie{
    position: absolute;
    width: 60% !important;
    left: 25%;
    /*height: 90%;*/
    /*margin-top: -60px;*/
}

.right-col{
    float:right;
}

#container {
    height:80%;
}
.main-header.pestel-container {
    height: 80%;
}

#container {
	height: 100%;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 320px;
    max-width: 700px;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


/*********** INDICATOR TABLES POP UP PIE ******************/
.pestel-indicators{
    /*width: 20%!important;*/
    animation-duration: 1s;
    text-align: center;
    display: none;
    z-index:9999;
    position:relative;

}


.first-indicator {
    margin: 1% 5% 0 5%;
}

.second-indicator {
    margin: 68% 5% 0 5%;
}

.third-indicator {
    margin: 200% 5% 0 5%;
}

.right-col > .third-indicator{
    margin-top: 110%;
}

.right-col > .third-indicator,
.right-col > .first-indicator{
    margin-left:-75%!important;
}

.right-col > .second-indicator{
    margin-left:15%!important;
}

.left-col > .second-indicator{
    margin-left:75%!important;
}

.left-col > .third-indicator,
.left-col > .first-indicator{
    margin-left:150%!important;
}


.left {
    float:left;
}

.right {
    float:right;
    display:grid;
    /*align-self: flex-end;*/
    justify-self: right;
    margin-top:4%
}


.visible {
    display: inline-block;
}


a,
a label {
    cursor: pointer;
}

.indicator-link:link,
.indicator-link:visited {
    text-decoration:none;
    border:0;
    background-color: #555;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.indicator-link:hover,
.indicator-link:active {
    background-color: rgb(30, 147, 152);
    border: 1px solid rgb(30, 147, 152);
    color: #fff;
}


/*************UPPER LINE CHART-TABLE***********************/
.upper{
    display: table-row;
}
/*************UPPER LINE CHART-TABLE***********************/
.upper-grid{
    grid-row: 1;
    display: inline-block;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
}


/*************LOWER LINE CONTROL PANELS***********************/
.lower{
    display: table-row;
}

/*************LOWER LINE CONTROL PANELS***********************/
.lower-grid{
    grid-row:2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:-2% 0 1% 0;
}


/*************TIME-SERIES LINE CHART***********************/

.smaller-height {
    top: -40px;
}

.chart-page-container {
    display:grid;
}

.chart-container {

    margin: -1.1% 0 0 5% ;
    /*height: 30%;*/

    float:left;
}

.plot-container.plotly{
    padding-right:100%
}


/************* YEAR BTNS ***********************/
.yearBtn-container {
    /*display:inline-block;*/
    float: left;
    width: 5%;
    margin: 450% 0 0 20%;
    /*grid-column:2;*/
    /*grid-row:1;*/
}

.clmBtns {
    margin-top: 4%;
}


/*************TIME-SERIES TABLE ***********************/
.table-container {
    float: left;
    margin: -1% 2% 0 5%;
}

#table_div{
    max-width: 37%;
    height: 300px;
    position: absolute;
    border-radius:6px;
}

html>body tbody.scrollContent {
    display: block;
    height: 100%;
    table-layout: fixed;
    /*font-family: Helvetica, Palatino, Arial, sans-serif;*/
    /*font-size: 0.8em;*/
    overflow:auto;
    position:relative;
}

.js-plotly-plot {
    height: 350px;
}



/********** PLOT UPDATER FORM ********************/
.update-form-container{
    display: block;
    width: 90%;
    padding: 0 0 2% 15%;
    margin-top:5%!important;
}


.update-form {
    display: table;
    background-color: rgba(85, 85, 85, 0.34);
    border-radius: 20px;
    height: 80%;
    width: 70%;
    align-self: end;
    justify-self: end;
    margin-top: 5%;
}


/**********both controllers *********/

.upper > .btn,
.upper > .labels,
.lower > .btn,
.lower > .labels{
    float: left;
}



/**********right controller*********/
.num-of-cols-container{
    float:left;
    margin-top:5%!important;%;
    /*width: 50%;*/
}

.num-of-cols-form {
    display:table;
    background-color: rgba(85, 85, 85, 0.34);
    width: 60% !important;
    height: 65%;
    border-radius: 20px;
    padding-left:2%
}

.date-col{
    display:table-cell;
    width: 50%;
}
.next-col{
    display:table-cell;
    padding-right: 5%;
}
.column-col{
    display:table-cell;
    width: 50%;
}


#lbl_col_select{
    padding-left: 15%;
}

/**********left controller**********/
.switch-col{
    display:table-cell;
    padding-left:3%;
}

.table-name-col{
    display:table-cell;
}


.column-name-col{
    display:table-cell;
}


.submit-col{
    display:table-cell;
}

#lbl_table{
    padding-left:25%;
}

#lbl_col{
    padding-left: 25%;
}

#lbl_update{
    margin-left: -15%;
}

#tbl_name{
    margin-left: -4%;
}


.btn {
    border-radius: 5px!important;
}

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    /*border: 1px solid #e67e22;*/
    /*color:#e67e22;*/
    border-bottom: 2px solid rgb(30, 147, 152);
    color: rgb(30, 147, 152);
    cursor: pointer;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    /*background-color: #fff;*/
    /*border: 1px solid #cf6d17;*/
    /*color:#cf6d17;*/
    border-bottom: 2px solid rgb(30, 147, 152);
    color: rgb(30, 147, 152);
    cursor: pointer;
}
.btn:hover,
.btn:active,
.btn:hover .icon-small,
.btn:active .icon-small{
    color: rgb(30, 147, 152);
    cursor: pointer;
}

#remove_year{
    margin-bottom: 50%;
}

.icon-small {
    color: rgba(9, 9, 9, 0.72);
}

.icon-small:link,
.icon-small:visited{
    cursor: pointer;
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 200%;
    /*align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    transition: background-color 0.2s, color 0.2s;
}


/*.icon-small:hover,*/
/*.icon-small:active {*/
/*    color:rgb(30, 147, 152);*/
/*}*/

.col.span-2-of-10 {
    text-align: center;
    vertical-align: middle;
}



#btn_remove_col,
#btn_add_col{
    margin: 0 0 0 0%;
}

#year_btns{
    width: 3%;
    /*padding-top: 27%;*/
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin: 3% 0 2% -30%;
  width: 90%;
  border-radius:200px!important;
  display: none;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.lobibox-header {
    background-color: #345248!important;
}

.lobibox-footer{
    background-color: #2f6352!important;
}

/*-------------------------------*/
/* FOOTER*/
/*-------------------------------*/

footer {
    position:relative;
    background-color: #a3d8e4;
    font-size: 80%;
    display: inline-block;
    width: 100%;
    /*grid-column:1 / -1;*/
    /*grid-row:4;*/
    /*padding-top: 10px;*/
}

.feedback-page footer {
    padding-top: 20px;
}

.footer-container {
    display: block;
    /*display:grid;*/
    /*grid-template-columns: 1fr 1fr;*/
}

.site-map{
    display:grid;
    /*grid-column:1/-1;*/
}

.site-map-column {
    grid-column: 1;
}

.copyright {
    grid-row:2;
    grid-column:1/-1;
    margin-top:-1%;
}

.copyright a:link,
.copyright a:visited{
    text-decoration: none;
    border: 0;
    color: #444444;
    transition: color 0.2s;
}

.copyright a:hover,
.copyright a:active {
    color: rgb(33, 128, 152);
}

.footer-nav {
    list-style: none;
    float:left;
}



.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}


.footer-nav li:last-child {
    margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited  {
    text-decoration: none;
    border: 0;
    color: #444444;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: rgb(33, 128, 152);
}


#facebook,
#twitter,
#snapchat,
#instagram {
    transition: color 0.2s;
}

#facebook:hover {
    color: #3b5998;
}#twitter:hover {
    color: #55acee;
}#snapchat:hover {
    color: #fffc00;
}#instagram:hover {
    color: #e95950;
}

footer p {
    color: #444444;
    text-align: center;
    /*margin-top: 5px;*/
}
/*********** SPINNER LOADER SMALL *****************/

.loader {
    left:0;
    right:0;
    top:0;
    bottom:0;

    /*Centering my shade */
    padding-top:10%;
    padding-left:47%;

    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    position:fixed;
}

.loader::after {
    content:'';
    display:block;
    position:absolute;
    /*left:48%;top:40%;*/
    /*width:40px;height:40px;*/
    /*border-style:solid;*/
    /*border-color:#a3d8e4;*/
    border-top-color:transparent;
    /*border-width: 4px;*/
    /*border-radius:50%;*/
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}


.loader svg {
    height: 7.5rem;
    width: 7.5rem;
    fill: #a3d8e4;
    transform-origin: 44% 50%;
    animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
    0% {
    transform: rotate(0); }
    100% {
    transform: rotate(360deg); }
}

@-webkit-keyframes rotate {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

.spinner-msg {
    margin-left: -8%;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}


/***************ABOUT PAGE ********************/

.about a:link,
.about a:visited {
    color: rgb(30, 147, 152);
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition:border-bottom 0.2s, color 0.2s;
}


.about a:hover,
.about a:active {
    color: rgb(30, 147, 152);
    border-bottom: 1px solid rgb(30, 147, 152);
}

/***************REFERENCES PAGE ********************/

.references {
    margin-bottom: 10%;
}


.references a:link,
.references a:visited {
    color: rgb(30, 147, 152);
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition:border-bottom 0.2s, color 0.2s;
}


.references a:hover,
.references a:active {
    color: rgb(30, 147, 152);
    border-bottom: 1px solid rgb(30, 147, 152);
}
